#hero {
  /* min-height: calc(100vh - 56px); */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* #services {
  min-height: 100vh;
  display: flex;
  align-items: center;
} */

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}